
h1{
    text-align: center;
}
#alert-container{
    text-align: center;
    justify-content: center;
    align-items: center;
}
#services-container{
    width: 800px;
    background-color: darkgrey;
    padding: 10px;
    margin: auto auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;

    
}

.form{
    display: block;
    justify-content: center;
    align-items: center;
    width: 400px;
    box-sizing: content-box;
    width: 100%;
   

}
#btns{
    gap: 20px;
}