*{
    box-sizing: border-box;
   
}
body{
    min-height: 100%;
}
html{
    height: 100%;
}

h1{
    text-align: center;
}
#alert-container{
    text-align: center;
    justify-content: center;
    align-items: center;
}
#services-container{
    background-color: darkgrey;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 80%;
}

.form{
    display: block;
    justify-content: center;
    align-items: center;
    width: 500px;
}
#btns{
    gap: 20px;
}