.container {
  text-align: center;
  color: rgb(255, 255, 255);
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
}

.centered {
  position: absolute;
  width: fit-content;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display:flex;
  justify-content:center;
  font-family:Arial, Helvetica, sans-serif;
  font-size: medium;
  
}

.card-title {
  text-align: center;
}

.card{ /* no funciona, quiero ponerle un borde azul a las cards */
  border: 0px solid blue;
}

.mision{
  display: flex;
  flex-direction: row;
  column-gap: 30px;
  /* column-count: 2; */
  text-align: justify;
  justify-content: space-between;
  margin: 10px;
  font-family:Arial, Helvetica, sans-serif;
  /* font-size: large; */
}
