*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#servicios{
    text-align: center;
    margin-top: 20px;
}

#servicios-list{
    /* font-family: raleway; */
    text-align: justify;
    padding: 20px;
}
.card-title h5{
    color: #00A3FF;
}
.card{
    box-shadow: 3px 3px 3px rgb(188, 187, 187);
    padding: 0px;
    overflow: scroll;
}

.card-body {
    height: 200px;
}