body {
  font-family: Arial, Helvetica, sans-serif;
  background: -webkit-linear-gradient(180deg,#66f, rgb(232, 117, 117), rgba(235, 66, 193, 0.644));
}

.navbar.bg-dark.border-bottom.border-body {
  height: 150px;
}

.navbar.navbar-expand-lg.bg-body-tertiary {
  height: 140px;
  justify-content: space-between;
}

.parrafo {
  font-size: 11px;
  font-style: italic;
}


#header{
  padding: 50px;
}
#container{
  padding-left: 50px;
  padding-right: 50px;
}
.footer{
  padding-top: 50px;
  
}
img{
  width:220px;
  height:300px;
  border-radius: 15px;
  object-fit: cover;
}

.col{
  display:flex;
  justify-content:center;
}
.container{
margin-top: 100px;
display: flex;
flex-direction: row;
justify-content: space-around; 
align-items: center;
border-radius: 15px;
}
.flip-card {
background-color: transparent;
width: 220px;
height: 300px;
perspective: 1000px;
border-radius: 15px;
}

.flip-card-inner {
position: relative;
width: 100%;
height: 100%;
text-align: center;
transition: transform 1s;
transform-style: preserve-3d;
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
border-radius: 15px;
}
.flip-card:hover .flip-card-inner {
transform: rotateY(180deg);
border-radius: 15px;
}
.flip-card-front, .flip-card-back {
position: absolute;
width: 100%;
height: 100%;
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
border-radius: 15px;
}

.flip-card-front {
/*background-color: #bbb;*/
/*background-image: url(https://images.pexels.com/photos/7134986/pexels-photo-7134986.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);*/
color: black;
border-radius: 15px;
}

.flip-card-back {
/*background-color: #f0b7ec;*/
/*background-image: url(https://images.pexels.com/photos/7134986/pexels-photo-7134986.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);*/
color: rgb(6, 5, 5);
transform: rotateY(180deg);
border-radius: 15px;
box-sizing:content-box;
}


/*------------------------------------------------------------------------------------------------------------------------------------------------------*/

.container2{
margin-top: 100px;
display: flex;
flex-direction: row;
justify-content: space-around; 
align-items: center;
border-radius: 15px;
}

.flip-card2 {
background-color: transparent;
width: 300px;
height: 300px;
perspective: 1000px;
border-radius: 15px;
}

.flip-card-inner2 {
position: relative;
width: 100%;
height: 100%;
text-align: center;
transition: transform 1s;
transform-style: preserve-3d;
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
border-radius: 15px;
}
.flip-card2:hover .flip-card-inner2 {
transform: rotateY(180deg);
border-radius: 15px;
}
.flip-card2-front, .flip-card-back2 {
position: absolute;
width: 100%;
height: 100%;
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
border-radius: 15px;
}
.flip-card-back2 {
background-image: url(https://images.pexels.com/photos/7134986/pexels-photo-7134986.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
color: rgb(6, 5, 5);
transform: rotateY(180deg);
border-radius: 15px;
}


